body {
    background-color: #2f364a;
}

.modal {
    background-color: #fff;
    padding: 24px 14px;
    border-radius: 14px;
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif; 
    
    .fine-print {
        font-size: 8px;
    }
}



#credit {
    color: #fff;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif; 
}